:root {
  --bg-100: rgb(27, 27, 27);
  --bg-200: rgb(32, 32, 32);
  --bg-300: rgb(46, 46, 46);
  --bg-400: rgb(49, 49, 49);
  --text-color: white;
  --primary-color-50: rgb(165, 79, 119);
  --primary-color-100: rgb(184, 88, 133);
  --primary-color-200: rgb(194, 98, 143);
  --primary-color-300: rgb(204, 108, 153);
  --primary-color-400: rgb(131, 64, 93);
}
html,
body,
#root,
.App {
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-200);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.05rem;
  line-height: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
button:hover {
  cursor: pointer;
}

.reader-sidebar-wrapper {
  display: flex;
}
.reader-wrapper {
  width: 500px;
  height: 100vh;
  background-color: red;
  overflow: auto;
}
.sidebar-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  position: relative;
}
.get-by-url {
  display: flex;
  position: absolute;
  top: 0;
  right: 100%;
}
